*{
    margin: 0%;
    padding: 0%;
}
/* -------------------home page styling startes --------------------------- */

#HomePage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) , url("images/misurina-sunset.webp");
    background-size: cover;
    height: 100vh;
}

.homelinks a:hover{
    color: white;
    border-bottom: 2px #18d26e solid;
   
}

.homeH1{
    text-decoration: none;
    color: white;
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
}
.homeH2{  
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}
.homelinks a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 16px;
    width: 20px;
    transition: 0.5S;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.homelinks{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.homerow{
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contant{
    text-align: start;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 6%;
    justify-content: space-evenly;
    width: 48%;
    letter-spacing: 2px;
    height: 40%;
}
.content2{
   margin-top: 7%;
   width: 40%;
   height: 80%;
   background-image: url("images/Untitled_design__1_-removebg-preview.webp");
   background-size: cover;
}

.contant #title{
   border-bottom:  2px solid #18d26e;
   color: white;
   font-weight: bolder;
   white-space: nowrap;
   margin:0% auto;
   border-right: 5px solid #18d26e;
   /* animation: corser .3s alternate infinite step-end, */
   animation:  typing 1s steps(20, end) forwards;
}
@keyframes corser {
   50%{
      border-right-color:  transparent;
   }
}
@keyframes typing {
   0%{
      width: 0px;
   }
   100%{
      width: 100%;
   }
}
.media{
    display: flex;
    justify-content: space-between;
    width: 29%;
}
.media i{
    color: white;
    font-weight: 300;
    font-size: 18px;
}
.media a{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 31, 31, 0.8);
    border-radius: 50%;
    transition: 0.5S;
    text-align: center;
}
.media a:hover{
    background-color: #18d26e;
}
#title ::after{
   content: " ";
   border-right: 2px solid #18d26e;
}

/* -------------------About page styling startes --------------------------- */

.ABout-nav{
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: +5;
}
.navbar-toggler{
     border: #0fe473 2px solid;
     background-color: #000000;
}
.navbar-toggler span {
   font-family: monospace;
   text-transform: capitalize;
   font-size: 4.5vw;
   color: #0fe473;
}


.navbar-nav li a:hover {
    color: white;
    border-bottom: 2px #18d26e solid;
}
.navbar-nav li a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: rgb(207, 207, 207,0.7);
    font-weight: 300;
    font-size: 17px;
    font-family: sans-serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    width: 20px;
    transition: 0.4s;
}
.navbar-nav li{
    width: 90px;
}
.navbar-nav{
background-color: black;
}



 /* ---------------------static nav bar cood
.logo a{
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.logo{
   padding-top: 2px;
   padding-left:90px;
} 
.About-navlinks{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-right: 25px;
}
.About-navlinks a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: rgb(207, 207, 207,0.7);
    font-weight: 300;
    font-size: 17px;
    font-family: sans-serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    width: 20px;
    transition: 0.4s;
}
*/
#AboutPage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.742),rgba(0, 0, 0, 0.732)) , url("images/background.webp");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    top: 0;
}
.About-navlinks a:hover {
    color: white;
    border-bottom: 2px #18d26e solid;
}
.About-navlinks a:active{
   color: white;
   border-bottom: 2px #18d26e solid;
}
/* ----this is main box that is contend all about informainon of about page---  */
.About-container{

    height: 1600px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 100px;
    width: 95%;
}
.About-container h6{
   color:  rgb(207, 207, 207);
   font-weight: 400;    
   font-size: 15px;
   letter-spacing: 2px;
   text-transform: uppercase;
}
.About-h1{
    color: white;
    font-weight: bold;
}
.coner span{
    color:  #18d26e;
    position: relative;
    bottom: 7px;
    letter-spacing: 0px;
    left: 5px;
}
.coner{
    margin-top: 8px;
}
.Aboutpic img{
    height: 60vh;
    width: 40vmax;
    /* height: 100%;
    width: 100%; */
}
.Aboutpic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.About-details .heding{
 color: #18d26e;
 text-transform: capitalize;
 padding-bottom: 10px;
}
.About-details .myself{
    color:  rgb(207, 207, 207);
    font-size: 15px;
   }
   .symbole{
    color: #18d26e;
   }
   .info-table h6{
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-family: sans-serif;
   }
   .info-table .infospan{
    color:  rgb(207, 207, 207);
    font-weight: 500;
    margin-left: 4px;
   }
   .info-table h6 a{
     text-decoration: none;
     color: rgb(211, 208, 208);
    font-weight: 500;
   }
   .skill_Box{
    width: 100%;
    height: 80px;
   }
  
   .bar{             /* this is progress bar outer bar deffination */
    background-color: rgb(51, 50, 50);
    width: 98%;
    height: 10px;
   }
   .skill_Box h2{ /*this is h2 of hedding of progress bar and percentages of progress bar */
    font-size: 15px;
    color: white;
    display: flex;
    width: 98%;
    justify-content: space-between;
    text-transform: uppercase;
   }
   /* level of progress bar define below  for html,css,bootsrab,java,c,c++,mysql and sql*/
   .progress_html{
    width: 95%;
    height: 10px;
    border-radius: 0%;
    background-color: #18d26e;
    animation: progress_html 5s  ease-in-out;
   }
   .progress_css{
    width: 70%;
    height: 10px;
    border-radius: 0%;
    background-color: #18d26e;
    animation: progress_css 5s  ease-in-out;
   }
   .progress_bootsrb{
    width: 35%;
    height: 10px;
    border-radius: 0%;
    background-color: #18d26e;
    animation: progress_boot 5s  ease-in-out;
   }
   .progress_c{
    width: 60%;
    height: 10px;
    border-radius: 0%;
    background-color: #18d26e;
    animation: progress_c 5s  ease-in-out;
   }
   .progress_java{
    width: 10%;
    height: 10px;
    border-radius: 0%;
    background-color: #18d26e; 
    animation: progress_java 5s  ease-in-out;

   }
   .progress_sql{
    width: 60%;
    height: 10px;
    border-radius: 0%;
    background-color: #18d26e;
    animation: progress_c 5s  ease-in-out;
   }
   /* this is for progress bar animation keyframe */
   /* ----------html animatin-------------- */
   @keyframes progress_html {
    0%{
        width: 0px;
    }
    100%
    {
        width: 95%;
    }
    }
    /* this is for progress bar animation keyframe */
    /* ----------css animatin-------------- */
   @keyframes progress_css {
    0%{
        width: 0px;
    }
    100%
    {
        width: 70%;
    }
    }
    /* this is for progress bar animation keyframe */
    /* ----------bootsrap animatin-------------- */
   @keyframes progress_boot {
    0%{
        width: 0px;
    }
    100%
    {
        width: 35%;
    }
    }
    /* this is for progress bar animation keyframe */
    /* ----------c\c++ and mysql\sql  animatin-------------- */
   @keyframes progress_c {
    0%{
        width: 0px;
    }
    100%
    {
        width: 60%;
    }
    }
    /* this is for progress bar animation keyframe */
    /* ----------java animatin-------------- */
   @keyframes progress_java {
    0%{
        width: 0px;
    }
    100%
    {
        width: 10%;
    }
    }
    /* anmiatins over */
 
    /* --------INTERESTS & hobbis section----------- */
    .hobbi{
        background-color: rgb(255,255,255,0.1);
        height: 80px;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 1.6vmax;
        font-family: 'Rajdhani', sans-serif;;
        text-transform: uppercase;
        color: white;
    }
    @media screen and (max-width : 700px) {
      .hobbi{
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;
         text-align: center;
      }
    }
    .hobbi:hover{
        background-color: rgb(255,255,255,0.2);
    }
   .hobbi_row{
    width: 100%;
   }
   .icon_1{
    color: rgb(255, 20, 169);
    font-size: 2.5vmax;
    margin-left: 25px;
    margin-right: 25px;
   }
   .icon_2{
    color: #ffbf00;
    font-size: 2.5vmax;
    margin-left: 25px;
    margin-right: 25px;
   }
   .icon_3{
    color: rgb(20, 149, 255);
    font-size: 2.5vmax;
    margin-left: 25px;
    margin-right: 25px;
   }
   .icon_4{
    color: rgb(130, 20, 255);
    font-size: 2.5vmax;
    margin-left: 25px;
    margin-right: 25px;
   }
   .icon_5{
    color: #18d26e;
    font-size: 2.5vmax;
    margin-left: 25px;
    margin-right: 25px;
   }
   .icon_6{
    color: #ff3ae2;
    font-size: 2.5vmax;
    margin-left: 20px;
    margin-right: 10px;
   }

   /*-------- sytiling of picture Section -------*/
   .picSection{
    width: 95%;
    height: 280px;
    align-items: center;
    background-color: rgb(255,255,255,0.1);
    overflow-y: scroll;
   }
   .picbox{
    height: 260px;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    border: 1px solid black;
    overflow: hidden;
   }

   .picbox_row
   {
    margin-bottom: 15px;
    margin-top: 12px;
   }
   .picbox img{
    height: 260px;
    width: 160px;
    transition: 1.5s;
   }
   .picbox img:hover{
    transform: scale(1.5);
   }
   .picbox .picTtile{
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px;
    font-family: 'Playfair Display', serif;
    box-shadow: 2.5px 2.5px 0px rgb(84, 84, 84,0.6);
    position: relative;
    top: -26px; 
    left: 70px;
   }
   .picbox .picTtile-1{
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px;
    font-family: 'Playfair Display', serif;
    box-shadow: 2.5px 2.5px 0px rgb(84, 84, 84,0.6);
    position: relative;
    top: -26px; 
    left: 50px;
   }
   /* -----------resume page styling start---------------------- */
   #ResumePage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.742),rgba(0, 0, 0, 0.732)) , url("images/background.webp");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    top: 0;
   }
   /* ----this is main box that is contend all about informainon of about page---  */
.resume-container{

    height: 1480px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 100px;
    margin-bottom: 50px;
    width: 98%;
}
.cercle{
    height: 15px;
    width: 15px;
    border-radius: 150px;
    background-color: #18d26e;
}
.About-h1{
    color: white;
    font-weight: bold;
}
.r-coner span{
    color:  #18d26e;
    position: relative;
    bottom: 7px;
    letter-spacing: 0px;
    left: 5px;
}
.resume-container h6{
    color:  rgb(207, 207, 207);
    font-weight: 400;    
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
 }
 /* ---heding of rasume---- */
 .hedding{
    display: flex;
    width: 200; 
    align-items: center;
    position: relative;
    left: -9px;
    top: -15px;
 }
 .hedding h5{
    color: #18d26e;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 19.5px;
 }
 .rasume-row{
    margin-left: 20px;
    margin-top: 40px;
 }
 .rsaume-colum1{
    border-left: 2px solid rgb(255,255,255,0.3);
    height: 245px;
    margin-left: 3px;
 }
 .rasume-row h4{
    color: white;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
 }
 .rasume_p{
    color: white;
    font-style: italic;
    margin-left: 20px;
 }
 .raume_list{
    color: white;
    text-transform: capitalize;
    font-weight: 300;
 }
 .raume_list_extraVita{
    color: white;
    text-transform: capitalize;
    font-style: italic;
 }
 .rsaume-colum2{
    border-left: 2px solid rgb(255,255,255,0.3);
    height: 183px;
    margin-left: 3px;
 }
 .rsaume-colum2_bachalar{
    border-left: 2px solid rgb(255,255,255,0.3);
    height: 210px;
    margin-left: 3px;
 }
 .rsaume-colum2 h6,.rsaume-colum2_bachalar h6{
    background-color: rgb(255,255,255,0.2);
    width: 120px;
    text-align: center;
    margin-left: 20px;
    padding: 1px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
 }
 .rasume_p2{
    color: white;
    text-transform: capitalize;
    margin-left: 20px;
 }
 .rsaume-colum3{
    border-left: 2px solid rgb(255,255,255,0.3);
    height: 110px;
    margin-left: 3px;
 }
 .rsaume-colum4{
    border-left: 2px solid rgb(255,255,255,0.3);
    height: 80px;
    margin-left: 3px;
 }
 .rsaume-colum5{
    border-left: 2px solid rgb(255,255,255,0.3);
    height: 80px;
    margin-left: 3px;
 }
 .rsaume-colum5-google{
   border-left: 2px solid rgb(255,255,255,0.3);
   height: 190px;
   margin-left: 3px;
}
 .rsaume-colum6{
   border-left: 2px solid rgb(255,255,255,0.3);
   height: 260px;
   margin-left: 3px;
}
.rsaume-colum7{
   border-left: 2px solid rgb(255,255,255,0.3);
   height: 220px;
   margin-left: 3px;
}
/* --------------------media query for rasume elment columns----------- */
 @media screen and (max-width : 600px) {
   .rsaume-colum1{
      height: 35%;
   }
   .rsaume-colum2{
      height: 20%;
   }
   .rsaume-colum2_bachalar{
      height: 27%;
   }
   .rasume-row .column-2{
      margin-top: 60%;
      margin-bottom: 10%;
   }
   .rsaume-colum6{
      height: 26%;
   }
   .rsaume-colum5{
      height: 9.5%;
   }
   .rsaume-colum7{
      height: 25%;
   }
 }


 /* ---------contect page styling-------------- */
 /* ----this is main box that is contend all about informainon of about page---  */
 .contect-container{
 
     height: 850px;
     background-color: rgba(0, 0, 0, 0.8);
     position: relative;
     top: 100px;
     margin-bottom: 20px;
     width: 98%;
 }
 .contect-container h6{
    color:  rgb(207, 207, 207);
    font-weight: 400;    
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
 }
 .contect_row{
    height: 128px;
    width: 99%;
    margin-left: 8px;
    justify-content: space-evenly;
    align-items: center;
 }
 .con_col{
    background-color: rgb(255,255,255,0.1);
    height: 84%;
    width: 47.5%;
   display: flex;
   align-items: center;
 }
 .contect_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
 }
 .contect_block h4{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
 }
 .contect_block p,a{
    font-size: 14px;
    color: rgb(237, 235, 235);
    text-decoration: none;
 }
 .i_box{
    height: 100%;
    width: 16.5%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .i_box a{
    background-color: rgba(255, 255, 255, 0.1);
    height: 65px;
    width: 65px;
    font-size: 22px;
    color: #18d26e;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .i_box a i{
    font-weight: 900;
 }
 .con_p{
    letter-spacing: 1px;
    font-size: 14px;
    color: rgb(237, 235, 235);
 }
 .con_p2{
    letter-spacing: 3px;
    margin-top: 2px;
    color: rgb(237, 235, 235);
 }
 .con_p2 i{
    font-size: 18px;
 }
 .con_p2 i:hover{
   color: #18d26e;
}
 .from{
    background-color: rgba(255, 255, 255, 0.1);
    height: 400px;
    width:  96%;
 }
 .form_row{
    align-items: center;
    justify-content: space-evenly;
    width: 102%;
    height: 85px;
    
 }

@media screen and (max-width: 1200px) {
   .contect_row{
      display: block;
      margin-bottom: 37%;
   }
   .con_col{
      width: 90vw;
      margin-bottom: 20px;
   }
   .form_row{
      display: block;
      width: 95.5vh;
      padding-top: 5%;
   }
   .form_row .col-6 input{
      margin-bottom: 5.5%;
   }
   .Subject input{
      margin-top: 18%;
   }
}

 .form_row .col-6 input{
    width: 100%;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
 }
 .Subject input{
    width: 100%;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
 }
 .Message textarea{
  width: 100%;
  margin: 20px 0px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
 }
 .button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .button button{
    background-color: #18d26e;
    color: white;
    width: 170px;
    height: 44px;
 }
 input::placeholder,textarea::placeholder{
    padding-left: 11px;
    text-transform: capitalize;
    font-weight: 400;
 }
 /* copy styiling contect page 2 */
 .con_colCopy{
    background-color: rgb(255,255,255,0.1);
    height: 83px;
    width: 100%;
    margin-top: 15px;
   display: flex;
   align-items: center;
 }
 .contect_rowCopy{
    height: 400px;
    width: 99%;
    margin-left: 8px;
    justify-content: space-evenly;
    align-items: center;
 }
 .contect_rowCopy .col-6{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
 }
 .i_boxCopy a{
    background-color: rgba(255, 255, 255, 0.1);
    height: 60px;
    width: 60px;
    font-size: 20px;
    color: #18d26e;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .i_boxCopy{
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
 }

 .i_boxCopy a i{
    font-weight: 900;
 }
 .contect_blockCopy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
 }
 .contect_blockCopy h4{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
 }
 .contect_blockCopy p,a{
    font-size: 14px;
    color: rgb(237, 235, 235);
    text-decoration: none;
 }
 .map_box{
    background-color: rgb(255,255,255,0.1);
    height: 91%;
    width: 49%;
 }

  /*----------------------------- portflios page style--------------------------------- */
   /* ----this is main box that is contend all about informainon of about page---  */
 .portfoli-container{
 
   height: 1000px;
   background-color: rgba(0, 0, 0, 0.8);
   position: relative;
   top: 100px;
   margin-bottom: 20px;
   width: 98%;
}
.portfoli-container h6{
  color:  rgb(207, 207, 207);
  font-weight: 400;    
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
  #portflios{
   width: 100%;
   height: 100vh;
   color: white;
}
.portflio_row{
   /* height: 330px; */
   width: 99.8%;
   align-items: center;
}
@media screen and (max-width :1200px) {
   .portflio_row{
      display: block;
   }
  
}
.portflio_col1{
   background-image: url("images/ifosection_img/kyhome.png");
   background-size: 100% 110%;
   /* background-position: -90px 0px; */
   background-repeat: no-repeat;
   height: 89.5%;
   width: 31.5%;
}
.portflio_col2{
   background-image: url("images/ifosection_img/divyahome.png");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   height: 89.5%;
   width: 31.5%;
}
.portflio_col3{
   background-image: url("images/ifosection_img/old.png");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   height: 89.5%;
   width: 31.5%;
}

.link{
   background-color: #444444;
   height: 20%;
   width: 100%;
   border-radius: 0px 0px 10px 10px;
   box-shadow: 1px 1px 40px 1px rgba(128, 128, 128, 0.4);
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.portfoli_hedding{
 
   width: 100%;
   display: flex;
}
.portfoli_hedding p{
    /* background-color: #18d26e; */
    margin-left: 12px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    width: auto;
    padding: 5px 10px;
    display: flex;
    word-spacing: 2.5px;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    transition: 0.6s;
}
.portfoli_hedding p:hover{
   background-color: #18d26e;
}
.portflio_box .cover{
   height: 300px;
   width: 106.8%;
   position: relative;
   left: -12px;
   background-color: rgba(0, 0, 0, 0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   align-items: center;
   opacity: 0%;
   transition: 0.5s;
}
.portfoli_iBox i{
   font-size: 25px;
   color: #18d26e;
}

.portfoli_iBox{
   width: 30%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.portfoli_iBox span i{
   font-size: 32px;
}
.cover .top{
   width: 100%;
   height: 5px;
   padding: 0%;
   display: flex;
   justify-content: flex-start;
}
.cover .bottom{
   width: 100%;
   height: 5px;
   padding: 0%;
   display: flex;
   justify-content: flex-end;
}
 .top div{
   height: 55px;
   width: 55px;
   border-left: white 3px solid;
   border-top: white 3px solid;
   position: relative;
   top: -90px;
}
.bottom div{
   height: 55px;
   width: 55px;
   border-right: white 3px solid;
   border-bottom: white 3px solid;
   position: relative;
   bottom: -38px;
}

.cover .box{
   background-color: rgba(0, 0, 0, 0.3);
   height: 270px;
   width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   /* left: -50px;
   right: 0; */
   align-items: center;
}
.cover:hover {
   opacity: 100%;
}
.cover h4{
   font-size: 22px;
   text-transform: uppercase;
   font-weight: 500;
   font-family: 'Raleway', sans-serif;
}
.cover h6{
   margin: 15px 0px 15px 0px;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
}
/*---------- portfoli info section styling sterted---------- */

#infoPage{
   background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) , url("images/background.webp");
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   position: fixed;      
   top: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
.main_slide_box{
   height: 100%;
   width: 100%;
   overflow-x: hidden;
}
.info_img{
  height: 95%;
  width: 100%;
}

.info_row{
   margin-top: 30px;
   position: relative;
   left: -60px;
   height: 600px;
}
.info_row h1{
   color: white;
   font-size: 28px;
   margin-left: 167px;
   margin-bottom: 30px;
   padding: 6px;
   width: 880px;
   font-family: 'PT Serif', serif;
   font-weight: normal;
   background-color: rgba(0, 0, 0, 0.6);
   box-shadow: 6px 6px 0px 0px #18d26e;
}
.info_row h1 span{
color: #18d26e;
font-family: 'Raleway', sans-serif;
}
.info_box{
   height: 90%;
   background-color: rgba(0, 0, 0, 0.3);
}
.info_box p{
   color: white;
   font-weight: 800;
   line-height: 35px;
   margin-top: 20px;
   word-spacing: 2px;
   text-align: left;
   margin-bottom: 20px;
   font-family: 'Open Sans', sans-serif;
}
.info_box p span{
   color: white;
   font-weight: 400;
   margin-left: 3px;
}
.info_box p span a{
   color: #18d26e;
   font-weight: 400;
   margin-left: 3px;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 15px;
}
.info_box p span a:hover{
   color: #0fe473;
   font-weight: 900;
   text-shadow: #18d26e 1px 1px 15px;
}

.info_box h3{
   font-family: 'Raleway', sans-serif;
   color: white;
   font-size: 25px;
   font-weight: 500;
   margin-top: 20px;
}
.paragaf{
   color: white;
   width: 450px;
   font-size: 15px;
   line-height: normal;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
}
.info_icon_next i,.info_icon_prev i,.cut{
color: rgba(255, 255, 255, 0.4);
}
.info_icon_next i:hover,.info_icon_prev i:hover,.cut:hover{
color: #18d26e;
}
.info_icon_next{
   position: absolute;
   top: 50%;
   font-size: 35px;
   left: 97.2%;
}
.info_icon_prev{
   position: absolute;
   top: 50%;
   font-size: 35px;
   left: 0.3%;
}
.cut{
   position: absolute;
   top: 7.5%;
   font-size: 40px;
   right: 38px;
}

#first #second #third{
   width: 100%;
   height: 100vh;
}
.slider_box{
width: 100%;
height: 100vh;
}

@media screen and (max-width: 1200px) {
   .About-container,.resume-container,.contect-container {
     height: 100% !important;
     padding-bottom: 40px;
   }
   #AboutPage, #ResumePage{
      height: 100% !important;
      width: 100vw;
   }
 }