* {
  margin: 0px;
  padding: 0px;
}

nav {
  color: antiquewhite;
  background-color: #040b14;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
}

.profile div {
  height: 130px;
  width: 130px;
  border: 4px solid rgb(134, 128, 128);
  border-radius: 50%;
  background-image: url("image/avtarpic.jpg");
  background-size: cover;

}

.navlinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}


.navlinks a {
  color: rgba(255, 255, 255, 0.652);
  text-decoration: none;


}

.icon {
  width: 150px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon i {
  font-size: 17px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(16, 49, 63, 0.507);
}

.hmebg {

  background-image: url("newimg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#home {
  width: 83%;
}

.homeContant h1 {
  color: white;
}

.homeContant h1 span {
  color: rgb(248, 248, 253);
}

.homeContant h3 {
  color: whitesmoke;
}

.homeContant {
  background-color: rgba(5, 13, 24, 0.3);
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 950px;
}

.hmebg {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: xx-large;
}

.navlinks a:hover {

  color: white;
}

.icon i:hover {
  background-color: rgb(128, 186, 219);
}

.navlinks i:hover {
  color: skyblue;
}

.main {
  height: 1200px;
  width: 100%;
  color: rgb(17, 3, 3);
  /* background-color: rgba(4, 63, 83, 0.096); */

}

.main_h1 {
  color: navy;
  /* text-decoration: underline; */
  /* margin-left: 300px; */
  padding-bottom: 5px;
  padding-top: 20px;
  text-transform: uppercase;
  margin-left: 15px;
}

.box_h1_main{
  border-bottom: 5.5px double #149ddd;
  width: 340px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.about_H3_top{

  margin-left: 55px;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 91.5%;
  font-weight: 300;
}
.about_H3_bottom{
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}


.aboutmain {
  display: flex;
  margin-left: 50px;
  height: 60vh;
}
.about_hadding h1{
  color: navy;
  text-decoration: underline #149ddd;
}

.pic {
  background-color: rgba(0, 0, 0);
  width: 300px;
  height: 380px;
  /* margin-left: 300px; */
}
.pic img{
  width: 100%;
  height: 100%;
}

.contanabout {
  /* background-color: rgba(240, 248, 255, 0.096); */
  width: 800px;
  height: 380px;
  margin-left: 50px;
}

.contanabout h3 {
  width: 100vh;
  
  }

.row {
  display: flex;
  justify-content: space-between;
  width: 100vh;
  margin-top: 30px;
}

.icon_ABOUT{
  text-decoration: none;
  color: navy;
 font-size: 28px;
width: 220px;
}

.row h2 {
  font-size: large;
  font-family: 'Hedvig Letters Serif', serif;
  margin-bottom: 20px;

}

.row i {
  color: navy;
  font-size: 17px;
  margin-right: 5px;
  font-weight: bolder;
}

.aboutcol .con1 {
  width: 500px;
}

.aboutcol .con2 {
  width: 550px;
  
}

.aboutcol .con1 span {
  color: rgb(65, 60, 60);
  font-weight: 400;


}

.aboutcol .con2 span {
  color: rgb(65, 60, 60);
  font-weight: 400;
}

.skills h1 {
  /* margin-left: 300px; */
  color: navy;
  text-transform: uppercase;

}

.box {
  height: 480px;
  width: 1100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 50px;
  margin-top: 30px;
  flex-direction: column;
  box-shadow: 4px 4px 25px 2px black;
  /* background-color: rgba(69, 188, 228, 0.219); */

}

.full {
  height: 10px;
  background-color: #8a898949;
  width: 95%;
}

.level1 {
  height: 10px;
  width: 80%;
  background-color: #149ddd;
  animation: lev1 5s;
}

.level2 {
  height: 10px;
  width: 50%;
  background-color: #149ddd;
  animation: lev2 5s;

}

.level4 {
  height: 10px;
  width: 70%;
  background-color: #149ddd;
  animation: lev4 5s;
}

.level5 {
  height: 10px;
  width: 50%;
  background-color: #149ddd;
  animation: lev5 5s;

}

.level6 {
  height: 10px;
  width: 65%;
  background-color: #149ddd;
  animation: lev6 5s;
}


.per {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

@keyframes lev1 {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }

}

@keyframes lev2 {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }

}

@keyframes lev4 {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }

}

@keyframes lev5 {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes lev6 {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }

}

.resum {
  height: 800px;
  width: 100%;
  color: rgb(17, 3, 3);

}

.resum h1 {
  color: navy;
  /* text-decoration: underline; */
  /* margin-left: 300px; */
  margin-top: 90px;
  padding: 20px;
  border-bottom: 2px solid navy;
}


.rmain {
  display: flex;
  margin-left: 290px;
  /* background-color: rgba(240, 248, 255, 0.568); */
}

.rpart1 {
  height: 500px;
  width: 50%;


}

.rpart2 {
  height: 500px;
  width: 50%;
  /* background-color: red; */
}

 /* portflios page style */
 #portflios{
    width: 100%;
    height: 100vh;
    color: white;
 }
 .portflio_row{
    height: 330px;
    width: 80%;
    align-items: center;
    margin-left: 30px;
 }
 .portflio_col{
    height: 80%;
    width: 28%;
 }
 .portflio_box1{
    height: 80%;
    width: 100%;
    background-image: url("image/dd\ home\ bg.png");
    background-size: cover;
    border-radius: 0px 30px 0px 0px;
    border: 3px solid #149ddd;
 }
 .portflio_box2{
    height: 80%;
    width: 100%;
    background-image: url("image/kyhome\ copy.png");
    background-size: cover;
    border-radius: 0px 30px 0px 0px;
    border: 3px solid #149ddd;
 }
 .portflio_box3{
    height: 80%;
    width: 100%;
    background-image: url("image/");
    background-size: cover;
    border-radius: 0px 30px 0px 0px;
    border: 3px solid #149ddd;
 }
 .portflio_col .link{
    background-color: #149ddd;
    height: 20%;
    width: 100%;
    border: 3px solid #149ddd;
    border-radius: 0px 0px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
 .portflio_col .link a{
    color: white;
    text-decoration: none;
    display: flex;
    font-weight: 700;
    align-items: center;
   
 }
 .portflio_col .link a i{
    color: white;
    font-size: 35px;
 }
.navsadow{
  height: 100%;
  width: 17.1%;
  background-color: #149ddd;
}
#superclassdsiplaydivallparent{
display: flex;
width: 100%;
overflow: hidden;
height: 700vh;
}
#contactid{
  width: 100%;
  height: 100vh;
}
.mainpartcon{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
 
}
.conpart1{
  width: 35%;
  height: 75%;
  background: #fff;
  padding: 30px;
  box-shadow:0 0 24px 0 rgba(0, 0, 0, 0.10);
}
.conpart2{
  width: 50%;
  padding: 20px;
  height: 78%;
  box-shadow: 0px 2px 24px 0 rgba(0, 0, 0, 0.10);
}
.con1{
  height: 50%;
}
.one_box i{
  padding: 12px;
  border-radius: 50%;
  color:#149ddd;
  background-color: #dff3fc;
  font-size: 22px;
}
.box_box{
  height: 33%;
  width: 100%;
  display:flex;
  align-items: center;
}
.one_box{
  height: 90%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.two_box{
  height: 80%;
  width: 75%;
  text-align: left;
}
.one_box i:hover {
  background-color: #149ddd;
  color: white;
}
.two_box h3{
  height: 50%;
  font-size: 14px;
  color:#22282ec1;
  font-family: 'Open Sans', sans-serif;
}
.two_box h2{
  height: 50%;
  font-size: 21px;
  font-family: 'Raleway', sans-serif;
}

.loc{
  width:20%;
  height: 400px;


}
.conpart1 .con1{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: larger;
  
}
.conpart1 .con2{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.map{
  width: 95%;
  height: 95%;

}
.conpart1 .con1 div{
  margin: 10px;
}
.conpart1.con1 div h3{
  color: rgb(46, 40, 40);
}

form{
  font-family: "Open Sans", sans-serif;
  font-size: 16.5px;
  text-transform: capitalize;
  color: #272829;
  font-weight: 600;
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding-left: 2%;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.namemail_box{
  display: flex;
  height: 20%;
  width: 100%;
}
.namemail_box input{
  height: 35%;
  width: 90%;
  border: rgba(0, 0, 0, 0.18) 1px solid;
}
.contect{
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
}
.contect input{
  width: 95%;
  height: 36%;
  border: rgba(0, 0, 0, 0.18) 1px solid;
}
.massage{
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
}
.massage textarea{
  height: 80%;
  width: 95%;
  border: rgba(0, 0, 0, 0.18) 1px solid;
}
button{
  color: #dff3fc;
  background-color: #149ddd;
  width: 150px;
  height: 60px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-radius: 5px;
}
.buton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
}

.twoin{
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: space-evenly;
  flex-direction: column;
}